# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.json 
!*.yaml 
!*.py
!*.ini
!*.html
!*.js
!*.jpg
!*.jpeg
!*.png
!*.mp3
!*.ogg
#!*.txt
!*.html
!.gitignore
!*.md

#### folder
!custom_components
!custom_components/breaking_changes
!custom_components/bwalarm
!custom_components/fcm_android
!custom_components/feedparser
!custom_components/hacs
!custom_components/hadockermon
!custom_components/smartir
!custom_components/youtube
!custom_components/zigbee2mqtt_networkmap
!www
!www/icons
!www/community
!www/community/bar-card
!www/community/button-card
!www/community/compact-custom-header
!www/community/content-card-remote-control
!www/communitygithub-card
!www/community/list-card
!www/community/lovelace-auto-entities
!www/community/lovelace-card-modder
!www/community/lovelace-card-tools
!www/community/lovelace-fold-entity-row
!www/community/lovelace-home-feed-card
!www/community/lovelace-layout-card
!www/community/mini-graph-card
!www/community/mini-media-player
!www/community/monster-card
!www/community/simple-thermostat
!www/community/surveillance-card
!www/community/weather-card
!www/images
!www/images/remote_lg
!www/images/remote_kodi
!www/lovecard
!www/lovelace_ui
!www/script
!www/suonerie/Android_M
!www/suonerie/Android_P
!www/script
##
!automation
!packages
!lovelace

# Ignore folders.
.storage
.cloud
.google.token
.Trash-0
appdaemon
deps
esphome
glances
logs
nut
resources
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.ios.conf
.uuid
action.json
creds.data
fcm_android_registrations.conf
feedreader.pickle
gactions
ip_bans.yaml
known_devices.yaml
secrets.yaml